@import './../../static/css/variables';
@import './../../static//css//mediaqueries';

.WeatherForecast {
	height: 100%;
	background-color: $darkBlue;
}

.WeatherForecast__list {
	display: flex;
	overflow-x: auto;
	margin: 0px 15px;
	padding: 0px;

	&::-webkit-scrollbar {
		display: none;
	}

	@media #{$desktop-up} {
		max-width: 1300px;
		margin: auto;
	}
}

.WeatherForecast__listItem {
	list-style-type: none;
}

.WeatherForecast__loadingIndicator {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.WeatherForecast__error {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
