@font-face {
	font-family: 'Roboto Regular';
	src: url('./../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('./../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

html {
	height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-family: $georgia;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: monospace;
}

#root {
	height: 100%;
}
