// Colors
$white: #ffffff;
$black: #000000;
$darkBlue: #262a59;
$lightBlue: #51557a;
$yellow: #ffc700;
$lightGrey: #a8aabd;
$grey: #999999;

// Fonts
$georgia: 'Georgia', serif;
$roboto-regular: 'Roboto Regular', 'serif';
$roboto-bold: 'Roboto Bold', 'serif';
