@import './../../static/css/variables';
@import './../../static/css/mediaqueries';

.WeatherListItem {
	padding: 10px 15px;
	overflow: hidden;
	background-color: $darkBlue;
	border: 0px;
	width: 100px;

	&:hover,
	&:focus,
	&--active {
		background-color: $lightBlue;
	}
}

.WeatherListItem__time {
	font-family: $roboto-regular;
	font-size: 18px;
	color: $lightGrey;
}

.WeatherListItem__icon {
	margin: 8px 0px;
	height: 42px;
}

.WeatherListItem__temp {
	font-family: $roboto-bold;
	font-size: 30px;
	color: $white;
}
